<!-- Google Website Optimizer Control Script -->
<script type="text/javascript">
function utmx_section(){}function utmx(){}
(function(){var k='{{ exp_num }}',d=document,l=d.location,c=d.cookie;function f(n){
if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.indexOf(';',i);return escape(c.substring(i+n.
length+1,j<0?c.length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;
d.write('<sc'+'ript src="'+
'http'+(l.protocol=='https:'?'s://ssl':'://www')+'.google-analytics.com'
+'/siteopt.js?v=1&utmxkey='+k+'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='
+new Date().valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"></sc'+'ript>')})();
</script>
{% if is_ab_type %}<script>utmx("url",'A/B');</script>{% endif %}
<!-- End of Google Website Optimizer Control Script -->
<!-- Google Website Optimizer Tracking Script -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['gwo._setAccount', '{{ gwo_account }}']);
  _gaq.push(['gwo._trackPageview', '/{{ exp_num }}/test']);

  {% comment %}
  Function to let the gwo event complete before the target url loads as recommended by Google.
  It is used in the gwo_in_href_conversion tag.
  {% endcomment %}
  function href_conversion(that) {
    try {
      _gaq.push(['gwo._trackPageview', '/{{ exp_num }}/goal']);
      setTimeout('document.location = "' + that.href + '"', 100)
    }
    catch(err){}
  }

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- End of Google Website Optimizer Tracking Script -->

