<!-- Google Website Optimizer Tracking Script -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['gwo._setAccount', '{{ gwo_account }}']);

  {% comment %}
  Function to let the gwo event complete before the target url loads as recommended by Google.
  It is used in the gwo_in_href_conversion tag.
  {% endcomment %}
  function href_conversion(that) {
    try {
      _gaq.push(['gwo._trackPageview', '/{{ exp_num }}/goal']);
      setTimeout('document.location = "' + that.href + '"', 100)
    }
    catch(err){}
  }

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- End of Google Website Optimizer Tracking Script -->

